Package: python3-mvgrpfiles
Source: mvgrpfiles
Version: 1.0.6-1
Architecture: all
Maintainer: Guillermo García Grao <guillermo.garcia.grao@gmail.com>
Installed-Size: 28
Depends: python3:any
Section: python
Priority: optional
Description: A Python program that moves all files from all members of a
